@model List<String>


<form action="/home/message" method="post">
    <input type="text" name="Body" placeholder="New Message" />
    <input type="submit" value="submit">
</form>

<table class="table table-responsive">
    @foreach (var message in Model)
    {
       <tr>
           <td>
               @message
           </td>
       </tr>
    }
</table>
